node_modules
.idea
coverage
npm-debug.log

!.gitkeep

public/debug/**/*
!public/debug/.gitkeep
!public/debug/javascripts/.gitkeep
!public/debug/stylesheets/.gitkeep

dist/**/*
!dist/htmls/.gitkeep
!dist/javascripts/.gitkeep
!dist/stylesheets/.gitkeep

