<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>Sample</title>
	<link rel="stylesheet" type="text/css" href="<%- stylesheet_path %>"/>
</head>
<body>
	<div id="App"></div>
	<script type="text/javascript" src="<%- javascript_path %>"></script>
</body>
</html>
