@require '_normalize';

@require 'common/**/*';

html, body, #App
  font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", "ＭＳ Ｐゴシック", sans-serif;
  font-weight 400
  background #ccc
  font-smoothing antialiased

#App
  display block
  margin 0
  padding 20px

  h1
    font-size 16px
    line-height 2
    color #333333